<header id="header">
    <div id="header-container" class="header-container">
        <h2>Tim</h2>
        <div>
            <a (click)="onClick('about-me-container')">About me</a>
            <a (click)="onClick('skill-container')">Skills</a>
            <a (click)="onClick('project-container')">Portfolio</a>
        </div>
    </div>

    <div class="mobile-header-container">
        <div class="header-name-menu">
            <h2>Tim</h2>
            <img (click)="showInfo()" src="assets/img/burger-menu.svg" alt="burger-menu">
        </div>

        <div [ngClass]="show ? 'info-Box' : 'info-Box-hidden'">
            <a (click)="changeToFalse(); onClick('about-me-container')">About me</a>
            <a (click)="changeToFalse(); onClick('skill-container')">Skills</a>
            <a (click)="changeToFalse(); onClick('project-container')">Portfolio</a>
            <a (click)="changeToFalse(); onClick('contact-form')">Contact</a>
        </div>
    </div>
</header>