<header id="header">
    <div class="header-container">
        <h2>Tim</h2>
        <div>
            <p>About me</p>
            <p>Skills</p>
            <p>Portfolio</p>
        </div>
    </div>

    <div class="mobile-header-container">
        <div class="header-name-menu">
            <h2>Tim</h2>
            <img (click)="showInfo()" src="assets/img/burger-menu.svg" alt="burger-menu">
        </div>

        <div [ngClass]="show ? 'info-Box' : 'info-Box-hidden'">
            <p>About me</p>
            <p>Skills</p>
            <p>Portfolio</p>
            <p>Contact</p>
        </div>
    </div>
</header>