<header id="header">
    <div id="header-container" class="header-container">
        <h2>Tim</h2>
        <div>
            <a href="#about-me-container">About me</a>
            <a href="#skill-container">Skills</a>
            <a href="#project-container">Portfolio</a>
        </div>
    </div>

    <div class="mobile-header-container">
        <div class="header-name-menu">
            <h2>Tim</h2>
            <img (click)="showInfo()" src="assets/img/burger-menu.svg" alt="burger-menu">
        </div>

        <div [ngClass]="show ? 'info-Box' : 'info-Box-hidden'">
            <a href="#about-me-container">About me</a>
            <a href="#skill-container">Skills</a>
            <a href="#project-container">Portfolio</a>
            <a href="#contact-form">Contact</a>
        </div>
    </div>
</header>