<div class="footer-container">
    <div class="name-impressum-container">
        <h1>Tim</h1>
        <a [routerLink]="['/impressum']" routerLinkActive="router-link-active" class="impressum-desktop"
            href="">Impressum</a>
    </div>
    <h3>@Tim Mellentin 2023</h3>

    <div class="icon-container">
        <a href="https://github.com/SwaggyPotter" target="_blank"><img src="../assets/img/Github-button.svg" alt=""></a>
        <a href="#contact"><img src="../assets/img/Email-button.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/tim-mellentin-8b399a260/" target="_blank"><img
                src="../assets/img/Linkedin-button.svg" alt=""></a>
        <a href="https://www.xing.com/profile/Tim_Mellentin03188/cv" target="_blank"><img class="xing-logo"
                src="../assets/img/xing-logo_clipdrop-background-removal.png" alt=""></a>
    </div>

    <a [routerLink]="['/impressum']" routerLinkActive="router-link-active" class="impressum-handy">Impressum</a>
</div>