.footer-container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid #1CDAE6;
    z-index: 2;
    background-color: #141D2F;
    padding-top: 70px;
    padding-bottom: 70px;

    h3 {
        font-weight: 300;
    }

    .icon-container {
        img {
            margin: 15px;
            transition: 125ms;
        }

        img:hover {
            transition: 125ms;
            transform: scale(1.5);
            margin: 15px;
        }

        .xing-logo{
            width: 25px;
        }
    }

    .impressum-handy {
        display: none;
        font-weight: 300;
    }

    .impressum-desktop {
        display: inline;
        margin: 0;
        font-weight: 300;
    }

    .name-impressum-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 0;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (max-width:700px) {
    .footer-container {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: solid #1CDAE6;
        z-index: 2;
        background-color: #141D2F;

        .impressum-handy {
            display: inline;
        }

        .impressum-desktop {
            display: none !important;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}