<div class="overlayContainer">
    <img class="blueBackground" src="../assets/img/second-blue-background.svg" alt="">
    <div id="about-me-container" class="about-me-container">
        <div class="little-about-me-container">
            <h1>About me</h1>
            <div class="text-container">
                <p>Hello, my name is Tim. I'm 24 years old and I'm from Berlin. I am a trained track construction worker
                    and
                    have been working in this role at the Berliner Verkehrsbetriebe (BVG) for the past 4 years.
                </p>

                <div>
                    <img src="../assets/img/bulb-desktop.svg" alt="">
                    <p>
                        my passion for coding brought me to the 'Developer Academy' in Munich. During my time there, I
                        established a strong knowledge base in JavaScript and Angular.
                    </p>
                </div>

                <div>
                    <img src="../assets/img/puzzle-desktop.svg" alt="">
                    <p>

                        With the drive not to remain in one place, I began my training as a Front-End Web Developer in
                        January 2023.
                    </p>
                </div>
            </div>
        </div>
        <div class="img-container-selfi">
            <img src="../assets/img/bilder-probe/selfie-circle-line-downscale.svg" alt="">
        </div>

    </div>


</div>