.about-me-container {
    color: white;
    padding-top: 15vw;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .blueBackground {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 30vw;
    }

    .text-container {
        width: 40vw;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        font-size: 13px;
        font-weight: 300;

        div {
            display: flex;
            
            img {
                margin-right: 20px;
            }
        }
    }


    h1 {
        padding-left: 50px;
        font-size: 50px;
    }
}

.img-container-selfi {
    img {
        width: 40vw;
    }
}

@media screen and (min-width: 280px) and (max-width: 700px) {

    .about-me-container {
        padding-top: 25vw !important;
        color: white;
        display: flex;
        width: unset;
        justify-content: space-between;
        align-items: center;
        padding: 50px;

        h1 {
            padding-left: unset;
            font-size: 50px;
        }
    }

    .img-container-selfi {
        display: none;

        img {
            width: unset;

        }
    }

    .text-container {
        width: 100% !important;
        display: unset !important;
        flex-direction: unset !important;
        padding-left: 0 !important;

        div {
            display: flex;

            img {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .about-me-container {
        color: white;
        margin-top: 15vw;
        display: flex;
        width: unset;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        h1 {
            padding-left: unset;
            font-size: 30px;
        }
    }
}