@media screen and (min-width: 1440px) {
    .about-me-container {

        .text-container {
            font-size: 25px !important;


        }


        h1 {
            font-size: 30px !important;
        }
    }
}

.overlayContainer {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;


    .blueBackground {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 30vw;
    }

    .about-me-container {
        color: white;
        padding-top: 15vw;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 100px;

        .little-about-me-container {
            width: 50%;
        }

        .text-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 1vw;
            font-weight: 300;

            div {
                display: flex;

                img {
                    margin-right: 20px;
                }
            }
        }


        h1 {
            font-size: 2vw;
        }
    }
}



.img-container-selfi {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;

    img {
        width: 70%;
    }
}

@media screen and (max-width: 1435px) and (min-width: 900px) {}


@media screen and (min-width: 280px) and (max-width: 900px) {

    .about-me-container {
        padding-top: 0;
        color: white;
        display: flex;
        width: unset;
        justify-content: center !important;
        align-items: center;
        padding: 50px;

        .little-about-me-container{
            width: unset !important;
        }

        h1 {
            padding-left: unset;
            font-size: 45px;
        }
    }

    .img-container-selfi {
        display: none;

        img {
            width: unset;

        }
    }

    .text-container {
        width: 100% !important;
        display: unset !important;
        flex-direction: unset !important;
        padding-left: 0 !important;
        font-size: 15px !important;

        div {
            display: flex;

            img {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .about-me-container {
        color: white;
        margin-top: 15vw;
        display: flex;
        width: unset;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        h1 {
            padding-left: unset;
            font-size: 45px;
        }
    }
}