<div id="about-me-container" class="about-me-container">
    <img class="blueBackground" src="/assets/img/second-blue-background.svg" alt="">
    <div>
        <h1>About me</h1>
        <div class="text-container">
            <p>Hi, mein Name ist Tim, ich bin 24 Jahre alt und komme aus Berlin.
                Ich bin gelernter Gleisbauer und arbeite seit 4 Jahren als dieser bei den Berliner Verkehrsbetrieben.
            </p>

            <div>
                <img src="/assets/img/bulb-desktop.svg" alt="">
                <p> Mein erstes Programm war ein Klicker-Spiel, bei dem man eine Pflanze gießen konnte, die nach 3
                    Klicks
                    voll ausgewachsen war.
                    Damals dachte ich, ich kann schon alles.
                </p>
            </div>

            <div>
                <img src="/assets/img/puzzle-desktop.svg" alt="">
                <p>
                    Bevor ich mit der Webentwicklung im Front-End anfing probierte ich 
                    C++, Python und Dart aus.
                </p>
            </div>

        </div>
    </div>

    <div class="img-container-selfi">
        <img src="/assets/img/bilder-probe/selfie-circle-line-new.svg" alt="">
    </div>
</div>