<div class="overlayContainer">
    <img class="blueBackground" src="assets/img/second-blue-background.svg" alt="">
    <div id="about-me-container" class="about-me-container">
        <div class="little-about-me-container">
            <h1>About me</h1>
            <div class="text-container">
                <p>
                    Hello, my name is Tim Mellentin, and I am a 24-year-old front-end web developer from Berlin. After
                    working for 4 years as a rail worker at the Berliner Verkehrsbetriebe, I made the decision to pursue
                    my dreams and become a developer.
                </p>

                <div>
                    <img src="assets/img/bulb-desktop.svg" alt="">
                    <p>
                        My passion for coding led me to the 'Developer Academy.' Throughout my time there, I gained a
                        strong foundation in Javascript and Angular through various projects, which you can explore in
                        my portfolio.
                    </p>
                </div>

                <div>
                    <img src="assets/img/puzzle-desktop.svg" alt="">
                    <p>
                        I enjoy taking on new challenges as they help me learn and grow, allowing me to deepen my
                        knowledge along the way.
                    </p>
                </div>
            </div>
        </div>
        <div class="img-container-selfi">
            <img src="assets/img/bilder-probe/selfie-circle-line-downscale.svg" alt="">
        </div>
    </div>
</div>