<div class="form-container">

    <div>
        <div class="text-container">
            <h3>Ein Problem zu lösen?</h3>
            <p>
                Gerne können sie mich über das Formular kontaktieren.
                Ich freue mich von ihnen zu hören</p>
            <p>Sie brauchen einen Front-End Developer? <b>Kontaktieren sie mich!</b></p>
        </div>
    </div>

    <form [formGroup]="form" action="javascript:void(0)" (submit)="send()">
        <input formControlName="from_name" class="normalInput" id="nameInput" type="text" placeholder="Your name">
        <input formControlName="from_email" class="normalInput" id="emailInput" type="text" placeholder="Your email">
        <textarea formControlName="message" id="messageInput" type="text" placeholder="Your message"></textarea>
        <button type="submit">Nachricht senden :)</button>
    </form>
    <app-up-button class="absolut"></app-up-button>

</div>