form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

    button {
        background-color: #1CDAE6;
        margin-top: 20px;
        padding: 20px 40px;
        border-style: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: 125ms;
        margin-bottom: 0;
        box-shadow: 6px 6px rgba(0, 0, 0, 0.1);
    }

    button:hover {
        background-color: #0400ff;
        margin-top: 20px;
        padding: 30px 60px;
        border-style: none;
        border-radius: 10px;
        color: white;
        transition: 125ms;
        margin-bottom: -20px;
    }
}

.text-container {
    margin-left: 50px;
    margin-right: 50px;
}

.form-container {
    display: flex;
    color: white;
    background-image: url("/assets/img/blueBackground-footer.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 100px;
    padding-bottom: 20px;
    margin-right: 50px;
}

.normalInput {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: solid blue 2px;
    border-radius: 10px;
    color: white;
    background-color: #141D2F;
    cursor: pointer;
}

.normalInput:hover {
    border: solid #1CDAE6 2px;
}

#messageInput {
    height: 200px;
    width: 515px;
    border: solid blue 2px;
    background-color: #141D2F;
    border-radius: 20px;
    cursor: pointer;
    text-align: start;
}

#messageInput:hover {
    border: solid #1CDAE6 2px;
}

@media screen and (min-width:280px) and (max-width: 700px) {
    form {
        margin-top: 100px;
        margin-bottom: 200px;

        button {
            background-color: #1CDAE6;
            margin-top: 20px;
            padding: 20px 40px;
            border-style: none;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            transition: 125ms;
            margin-bottom: 0;
            box-shadow: 6px 6px rgba(0, 0, 0, 0.1);
        }

        button:hover {
            background-color: #1CDAE6;
            margin-top: 20px;
            padding: 20px 40px;
            border-style: none;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            transition: 125ms;
            margin-bottom: 0;
            box-shadow: 6px 6px rgba(0, 0, 0, 0.1);
        }
    }

    .form-container {
        display: flex;
        color: white;
        background-image: url("/assets/img/blueBackground-footer.svg");
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: 100px;
        padding-bottom: 20px;
        margin-right: unset;
        padding-right: 50px !important;
    }

    .normalInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: solid blue 2px;
        border-radius: 10px;
        color: white;
        background-color: #141D2F;
    }

    #messageInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: solid blue 2px;
        border-radius: 10px;
        color: white;
        background-color: #141D2F;
    }
}



@media screen and (max-width:870px) {
    .form-container {
        display: flex;
        color: white;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 0;
        background-image: url("/assets/img/blueBackground-footer.svg");
        background-position-y: 40vh;
    }

    .text-container {
        margin-left: unset !important;
        margin-right: unset !important;
    }

    .normalInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: solid blue 2px;
        border-radius: 10px;
        color: white;
        background-color: #141D2F;
    }

    #messageInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: solid blue 2px;
        border-radius: 10px;
        color: white;
        background-color: #141D2F;
    }
}