<div  class="form-container">

    <div>
        <div class="text-container">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
    </div>

    <form [formGroup]="form" action="javascript:void(0)" (submit)="send()">
        <input formControlName="from_name" class="normalInput" id="nameInput" type="text" placeholder="Your name">
        <input formControlName="from_email" class="normalInput" id="emailInput" type="text" placeholder="Your email">
        <textarea formControlName="message" id="messageInput" type="text" placeholder="Your message"></textarea>
        <button type="submit">Send message :)</button>
    </form>

    <app-up-button class="absolut"></app-up-button>

</div>