.portfolio-container {
    width: 100%;
    color: white;
    position: relative;

    .blueBackground {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 800px;
        width: 30vw;
    }

    .second-blue-background {
        position: absolute;
        z-index: -1;
        right: 0;
        width: 30vw;
    }

    .live-test-btn {
        background-color: blue;
        border-style: none;
        border-radius: 10px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        transition: 125ms;
    }

    .live-test-btn:hover {
        background-color: #1CDAE6;
        cursor: pointer;
        transition: 125ms;
    }

    .github-btn {
        background-color: #141D2F;
        border: #1CDAE6 solid 2px;
        border-radius: 10px;
        padding: 10px 20px;
        color: white;
        transition: 125ms;
        text-decoration: none;
    }

    .github-btn:hover {
        background-color: #1CDAE6;
        transition: 125ms;
    }

    .headline-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: unset;
        width: 100%;
        margin-top: 150px;

        .long-line-width {
            width: unset;
            content: url('/assets/img/short-longline.svg');
        }

        h1 {
            padding: 20px;
            font-size: 45px;
        }
    }


    .underHeadline-container {
        width: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: -10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .join-project-container {
        margin-top: 150px;
        padding: 15px;

        .content-text {
            text-align: center;
        }

        img {
            width: 100%;
        }

        h3 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: blue;
        }

        h4 {
            color: deepskyblue;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .polo-loco-container {
        margin-top: 150px;
        display: flex;
        flex-direction: column-reverse;
        padding: 15px;

        .content-text {
            text-align: center;
        }

        img {
            width: 100%;
        }

        h3 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: blue;
        }

        h4 {
            color: deepskyblue;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .Pokedex-container {
        margin-top: 150px;
        padding: 15px;

        .content-text {
            text-align: center;
        }

        img {
            width: 100%;
        }

        h3 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: blue;
        }

        h4 {
            color: deepskyblue;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    @media screen and (max-width: 370px) {
        .headline-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: unset;
            width: 100%;
            margin-top: 150px;

            .long-line-width {
                width: unset;
                content: url('/assets/img/short-longline.svg');
            }

            h1 {
                padding: 20px;
                font-size: 25px;
            }
        }
    }
}

@media screen and (min-width: 700px) {

    .headline-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: unset;
        width: 100%;
        margin-top: 150px;

        .long-line-width {
            width: 35% !important;
            content: url('/assets/img/long-line.svg') !important;
        }

        h1 {
            padding: 20px;
            font-size: 65px !important;
        }
    }

    .join-project-container {
        display: flex;
        margin-top: 150px;
        justify-content: center;
        padding-right: 50px;

        .content-text {
            text-align: left !important;
        }

        img {
            width: 50vw !important;
        }

        h3 {
            width: 100%;
            display: unset !important;
            justify-content: center;
            align-items: center;
            color: blue;
        }

        h4 {
            color: deepskyblue;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .polo-loco-container {
        display: flex;
        flex-direction: row !important;
        margin-top: 150px;
        justify-content: center;
        align-items: center;

        .content-text {
            margin-left: 50px;
            width: 50vw;
            display: flex;
            flex-direction: column;

            p {
                text-align: right;
            }
        }

        img {
            width: 30vw !important;
        }

        h3 {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: unset !important;
            color: blue;
        }

        h4 {
            display: flex;
            color: deepskyblue;
            flex-direction: row-reverse;
            justify-content: unset !important;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .Pokedex-container {
        display: flex;
        margin-top: 150px;
        justify-content: center;
        align-items: center;
        padding-right: 50px;

        .content-text {
            text-align: left !important;
        }

        img {
            width: 40vw !important;
        }


        h3 {
            width: 100%;
            display: unset !important;
            justify-content: center;
            align-items: center;
            color: blue;
        }

        h4 {
            color: deepskyblue;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}