<div id="project-container" class="portfolio-container">
    <img class="blueBackground" src="/assets/img/blue-background-4.svg" alt="">
    <img class="second-blue-background" src="/assets/img/blueBackground.svg" alt="">

    <div class="headline-container">
        <img class="long-line-width" src="/assets/img/long-line.svg" alt="">
        <h1>Portfolio</h1>
        <img src="/assets/img/short-line.svg" alt="">
    </div>

    <div class="underHeadline-container">
        <p>Here are some of the projects I created during my time at the Developer Academy.</p>
    </div>
    <div class="centerContainer">
        <div class="join-project-container">
            <img src="/assets/img/join-photo.svg" alt="">
            <div class="content-text">
                <h3>Join</h3>
                <h4>HTML | CSS | JavaScript | Firebase</h4>
                <p>A task management system inspired by the Kanban model. Create and organize tasks, and arrange them
                    using
                    drag and drop functionality.</p>
                <div class="button-container">
                    <a href="/assets/applications/join/index.html" target="_blank" class="live-test-btn">Live test</a>
                    <a href="https://github.com/SwaggyPotter/join_firebase" target="_blank"
                        class="github-btn">Github</a>
                </div>
            </div>
        </div>
    </div>
    <div class="centerContainer">
        <div class="polo-loco-container">
            <div class="content-text">
                <h3>El Pollo Loco</h3>
                <h4> HTML | CSS | JavaScript</h4>
                <p>A simple jump & run game based on object-oriented programming.
                    Help Pepe collect coins and defeat the boss chicken at the end.
                </p>
                <div class="button-container">
                    <a href="/assets/applications/El-Polo-Loco/index.html" target="_blank" class="live-test-btn">Live
                        test</a>
                    <a href="https://github.com/SwaggyPotter/El-Pollo-Loco-" target="_blank"
                        class="github-btn">Github</a>
                </div>
            </div>
            <img class="poloLocoInnerMargin" src="/assets/img/Pollo-loco.svg" alt="">
        </div>
    </div>
    <div class="centerContainer">
        <div class="Pokedex-container">
            <img src="/assets/img/Simple CRM photo.png" alt="">
            <div class="content-text">
                <h3>CRM</h3>
                <h4>HTML | CSS | JavaScript | Angular | Firebase</h4>
                <p>An Angular-powered CRM system</p>
                <div class="button-container">
                    <a href="" target="_blank" class="live-test-btn">Live test</a>
                    <a href="https://github.com/SwaggyPotter/CRM" target="_blank" class="github-btn">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>