<div class="portfolio-container">
    <div class="headline-container">
        <img src="/assets/img/long-line.svg" alt="">
        <h1>Portfolio</h1>
        <img src="/assets/img/short-line.svg" alt="">
    </div>
    <div>
        <p>This page is a sample of my work - please fell free to try them out</p>
    </div>

    <div class="join-project-container">
        <img src="/assets/img/join-photo.svg" alt="">
        <h3>Join</h3>
        <h4>Angular|HTML|CSS|Typescript|Firebase</h4>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assing
            users and categories</p>
        <div class="button-container">
            <button>Live test</button>
            <button>Github</button>
        </div>
    </div>

    <div class="polo-loco-container">
        <img src="/assets/img/Pollo-loco.svg" alt="">
        <h3>El Pollo Loco</h3>
        <h4>JavaScript | HTML | CSS</h4>
        <p>A simple Jump-and-Run game based on an object-oriented approach. Help Peet to find coins and bottles to fight
            against the boss chicken</p>
        <div class="button-container">
            <button>Live test</button>
            <button>Github</button>
        </div>
    </div>

    <div class="Pokedex-container">
        <img src="/assets/img/Pokédex-photo.svg" alt="">
        <h3>El Pollo Loco</h3>
        <h4>JavaScript | HTML | CSS</h4>
        <p>A simple Jump-and-Run game based on an object-oriented approach. Help Peet to find coins and bottles to fight
            against the boss chicken</p>
        <div class="button-container">
            <button>Live test</button>
            <button>Github</button>
        </div>
    </div>
</div>