<div class="portfolio-container">
    <img class="blueBackground" src="/assets/img/blue-background-4.svg" alt="">
    <img class="second-blue-background" src="/assets/img/blueBackground.svg" alt="">
    
    <div class="headline-container">
        <img src="/assets/img/long-line.svg" alt="">
        <h1>Portfolio</h1>
        <img src="/assets/img/short-line.svg" alt="">
    </div>

    <div class="underHeadline-container">
        <p>This page is a sample of my work - please fell free to try them out</p>
    </div>

    <div class="join-project-container">
        <img src="/assets/img/join-photo.svg" alt="">
        <div class="content-text">
            <h3>Join</h3>
            <h4>Angular | HTML | CSS<br>Typescript | Firebase</h4>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assing
                users and categories</p>
            <div class="button-container">
                <button class="live-test-btn">Live test</button>
                <button class="github-btn">Github</button>
            </div>
        </div>
    </div>

    <div class="polo-loco-container">
        <div class="content-text">
            <h3>El Pollo Loco</h3>
            <h4>JavaScript | HTML | CSS</h4>
            <p>A simple Jump-and-Run game based on an object-oriented approach. Help Peet to find coins and bottles to
                fight
                against the boss chicken</p>
            <div class="button-container">
                <button class="live-test-btn">Live test</button>
                <button class="github-btn">Github</button>
            </div>
        </div>
        <img src="/assets/img/Pollo-loco.svg" alt="">
    </div>

    <div class="Pokedex-container">
        <img src="/assets/img/Pokédex-photo.svg" alt="">
        <div class="content-text">
            <h3>Pokedex</h3>
            <h4>JavaScript | HTML | CSS</h4>
            <p>Based on the PakeAPI a simple libary tha provides and catalogues pokemon information</p>
            <div class="button-container">
                <button class="live-test-btn">Live test</button>
                <button class="github-btn">Github</button>
            </div>
        </div>
    </div>
</div>