<div class="skill-section">
    <div class="button-container-wraper">
        <div class="btn-text-container">
            <div class="headline-button-text">
                <h1>My skills</h1><img src="/assets/img/short-line.svg" alt="">
            </div>
            <p>I have grown my frontend skills that have allowed me to create diffrent real projects</p>
            <button class="button-desktop">Get in touch</button>
        </div>
    </div>
    <div class="skills-container">
        <div class="skills-wrapper">
            <img src="/assets/img/angular-icon.svg" alt="">
            <img src="/assets/img/typescript-icon.svg" alt="">
            <img src="/assets/img/javascript-icon.svg" alt="">
            <img src="/assets/img/html-icon.svg" alt="">
            <img src="/assets/img/firebase-icon.svg" alt="">
            <img src="/assets/img/git-icon.svg" alt="">
            <img src="/assets/img/css-icon.svg" alt="">
            <img src="/assets/img/materialDesign-icon.svg" alt="">
            <img src="/assets/img/rest-api-icon.svg" alt="">
            <img src="/assets/img/scrum-icon.svg" alt="">
        </div>
    </div>
    <div class="mobile-button-container">
        <button class="button-mobile">Get in touch</button>
    </div>
    <img class="blueBackground" src="/assets/img/third-blue-background.svg" alt="">
</div>