<div class="skills-container">
    <img src="/assets/img/angular-icon.svg" alt="">
    <img src="/assets/img/typescript-icon.svg" alt="">
    <img src="/assets/img/javascript-icon.svg" alt="">
    <img src="/assets/img/html-icon.svg" alt="">
    <img src="/assets/img/firebase-icon.svg" alt="">
    <img src="/assets/img/git-icon.svg" alt="">
    <img src="/assets/img/css-icon.svg" alt="">
    <img src="/assets/img/materialDesign-icon.svg" alt="">
    <img src="/assets/img/rest-api-icon.svg" alt="">
    <img src="/assets/img/scrum-icon.svg" alt="">
</div>
<div class="button-container">
    <button>Get in touch</button>
</div>
