.skill-section {
    margin-top: 20vw;
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    .blueBackground {
        position: absolute;
        z-index: -1;
        left: 0;
        width: 30vw;
    }

    .button-desktop {
        display: flex;
        background-color: aqua;
        border-radius: 10px;
        padding: 10px 10px;
        color: white;
        border-style: none;

    }

    .button-mobile {
        display: none;
    }
}

.skills-container {
    padding: 10px;

    img {
        margin-left: 50px;
        margin-right: 50px;
        width: 80px;
        height: 150px;
    }
}

.button-container-wraper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;

    .btn-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        position: relative;

        .headline-button-text {

            h1 {
                font-size: 50px;
            }

            img {
                position: absolute;
                right: 0;
                top: 70px;
            }
        }
    }


}

@media screen and (min-width:280px) and (max-width: 700px) {
    .skill-section {
        margin-top: 20vw;
        display: flex;
        flex-direction: column;

        .button-mobile {
            display: flex;
            background-color: aqua;
            border-radius: 10px;
            padding: 10px 10px;
            color: white;
            border-style: none;
            width: 100px;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .mobile-button-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button-desktop {
            display: none;
        }
    }

    .skills-container {
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: center;

        img {
            width: 50px;
            height: 80px;
        }

        .skills-wrapper {
            width: 100%;
        }
    }

    .btn-text-container {
        text-align: right;
        padding-right: 50px;
    }
}

@media screen and (max-width:600px) {
    .btn-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: unset !important;
        width: 100% !important;
        position: relative;
        padding-left: 50px;

        .headline-button-text {

            h1 {
                font-size: 50px;
                text-align: right;
            }

            img {
                position: absolute;
                right: 0;
                top: 70px;
            }
        }
    }
}