@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins-Black.ttf");
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    background-color: #141D2F;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}