@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins-Black.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141D2F;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}