<div class="main-me-container">
    <div class="me-container">
        <img class="background" src="/assets/img/bilder-probe/21.8-profile.svg" alt="picture of me">
        <img class="blueBackground" src="/assets/img/background-profile-pic.svg" alt="">
        <div class="name-container">
            <div class="text-container">
                <p class="spin90deg">I am</p>
                <p class="name">Tim Mellentin <br><span>Frontend Developer</span></p>
            </div>
            <div class="button-container">
                <a href="#contact-form">Let's talk!</a>
            </div>
        </div>
    </div>
    <div class="letsTalk-Container">
        <img class="blueLine" src="/assets/img/blueline.svg" alt="">
        <a class="github-icon" href="https://github.com/SwaggyPotter">
            <img class="icon-margin" src="/assets/img/Github-button.svg" alt="">
        </a>

        <a href="#contact"><img class="icon-margin" src="/assets/img/Email-button.svg" alt="">
        </a>

        <a href="https://www.linkedin.com/in/tim-mellentin-8b399a260/">
            <img class="icon-margin" src="/assets/img/Linkedin-button.svg" alt="">
        </a>

        <a href="https://www.xing.com/profile/Tim_Mellentin03188/cv">
            <img class="xing-logo" src="/assets/img/xing-logo_clipdrop-background-removal.png" alt="">
        </a>

        <a id="contact-link" href="#contact">timmellentin@freenet.de</a>
    </div>
</div>