.main-me-container {

    .me-container {
        position: relative;
    }

    .blueBackground{
        position: absolute;
        left: 0px;
        top: 100px;
        z-index: -1;
        width: 50vw;
    }

    .name-container {
        position: absolute;
        top: 10%;
        right: 50px;
        font-size: 4vw;
    }

    .background {
        width: 100%;
        margin-top: -30%;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position-y: 250px;
    }

    .name-container {
        color: white;
        flex-direction: column;
    }

    .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            color: white;
            border-style: none;
            background-color: aqua;
            padding: 10px 20px;
            border-radius: 10px;
        }

    }

    .spin90deg {
        rotate: -90deg;
    }

    .letsTalk-Container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -15vw;

        .blueLine {
            position: absolute;
            left: 0;
            top: 13px;
        }
    }

    @media screen and (min-width: 401px) and (max-width: 700px) {
        .background {
            width: 100%;
            margin-top: 0;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position-y: 250px;
            content: url('/assets/img/new-profile-picture-mobile.svg');
        }

        .me-container {
            position: relative;
            display: flex;
            flex-direction: column
        }

        .name-container {
            position: relative;
            top: unset;
            right: unset;
            font-size: 5vw;
            width: 100%;
            margin-top: -20vw;
        }

        .text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
        }

        .letsTalk-Container {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            .blueLine {
                position: absolute;
                left: 0;
                top: 13px;
            }
        }
    }

    @media screen and (min-width: 280px) and (max-width: 400px) {
        .background {
            width: 100%;
            margin-top: 0;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position-y: 250px;
            content: url('/assets/img/new-profile-picture-mobile.svg');
        }

        .me-container {
            position: relative;
            display: flex;
            flex-direction: column
        }

        .name-container {
            position: relative;
            top: unset;
            right: unset;
            font-size: 5vw;
            width: 100%;
            margin-top: -20vw;
        }

        .text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
        }

        .letsTalk-Container {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            .blueLine {
                position: absolute;
                left: 0;
                top: 13px;
            }
        }
    }
}