@media screen and (min-width:2860px) {
    .background {
        content: url('/assets/img/large-monitor-pic.png') !important;
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 1440px) {
    .text-container {
        font-size: 3vw !important;

    }

    .name-container {
        right: 15vw !important;
    }
}

.main-me-container {
    margin-bottom: 50px;
    height: 100vh;

    .icon-margin {
        transition: 125ms;
        transform: scale(1);
        width: 20px;
    }

    .icon-margin:hover {
        transition: 125ms;
        transform: scale(1.5);
        width: 20px;
    }

    .me-container {
        position: relative;
        padding-top: 25vh;

        .blueBackground {
            position: absolute;
            left: 0px;
            top: 50px;
            z-index: -1;
            width: 50vw;
        }

        .name-container {
            position: absolute;
            top: 22vh;
            right: 50px;
            font-size: 4vw;
            color: white;
            flex-direction: column;
        }

        .background {
            width: 100%;
        }

        .text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 50px;

            .name {
                font-weight: 700;
            }

            span {
                font-weight: 300;
                color: #4b47ff;
            }
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 1vw;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

            a:hover {
                color: white;
                border-style: none;
                background-color: rgb(0, 17, 255);
                padding: 2vw 4vw;
                border-radius: 1vw;
                cursor: pointer;
                transition: 125ms;
            }

        }
    }

    .spin90deg {
        rotate: -90deg;
        font-weight: 300;
    }

    .letsTalk-Container {
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: -15vw;
        padding-left: 55px;
        color: white;
        width: unset;
        bottom: 2vh;

        a {
            margin-left: 45px;
            text-decoration: none;
            color: white;
            font-weight: 300;
        }

        .blueLine {
            position: absolute;
            left: 0;
            top: 12px;
        }

        .xing-logo {
            width: 20px;
            transition: 125ms;
            transform: scale(1);
        }

        .xing-logo:hover {
            transition: 125ms;
            transform: scale(1.5);
        }
    }

    #contact-link {
        font-size: 1vw;
    }

    @media screen and (min-width: 701px) and (max-width:900px) {

        .background {
            content: url('/assets/img/tablet-horizontal-try.svg');
            width: 100%;
            margin-top: -15vh;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position-y: 250px;
        }

        .blueBackground {
            left: 25vw !important;
            top: 135px !important;
        }


        .name-container {
            position: relative;
            top: unset;
            right: unset !important;
            font-size: 5vw !important;
            width: 100%;
            margin-top: 20vh;

            .text-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0;
                padding-right: 0;
            }
        }



        .icon-margin {
            transition: 125ms;
            transform: scale(1);
            width: 20px;
        }

        .xing-logo {
            width: 20px !important;
            transition: 125ms;
            transform: scale(1);
        }

        #contact-link {
            font-size: 15px;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 20px 40px !important;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px !important;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

            a:hover {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }
        }
    }

    @media screen and (min-width: 401px) and (max-width: 700px) {

        .icon-margin {
            transition: 125ms;
            transform: scale(1);
            width: 20px;
        }

        .xing-logo {
            width: 20px !important;
            transition: 125ms;
            transform: scale(1);
        }

        .xing-logo:hover {
            transition: 125ms;
            transform: scale(1.5);
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 15px 25px !important;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 15px !important;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

            a:hover {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }
        }

        #contact-link {
            display: none;
        }

        .blueBackground {
            position: absolute;
            left: 8vw !important;
            top: 14vh !important;
            z-index: -1;
            width: 87vw !important;
        }

        .me-container {
            position: relative;
            display: flex;
            flex-direction: column;

            .background {
                width: 100%;
                margin-top: -10vh;
                content: url('/assets/img/newMobileTry.svg');
            }

            .name-container {
                position: absolute;
                top: unset;
                right: unset;
                font-size: 5vw;
                width: 100%;
                margin-top: 40vh;

                .text-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0;
                    padding-right: 0;
                }
            }

        }


        .letsTalk-Container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            width: 100%;
            padding-left: unset;
            bottom: 50px;

            a {
                display: flex;
            }

            .blueLine {
                position: absolute;
                left: 0;
                top: 13px;
            }

            .github-icon {
                margin-left: 0 !important;
            }
        }
    }

    @media screen and (min-width: 280px) and (max-width: 400px) {

        .icon-margin {
            transition: 125ms;
            transform: scale(1);
            width: 20px;
        }

        .xing-logo {
            width: 20px !important;
            transition: 125ms;
            transform: scale(1);
        }

        .xing-logo:hover {
            transition: 125ms;
            transform: scale(1.5);
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;


            a {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 10px 15px !important;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 15px !important;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

            a:hover {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

        }

        .background {
            width: 100%;
            margin-top: -5vh;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position-y: 250px;
            content: url('/assets/img/newMobileTry.svg');
        }

        .icon-margin {
            margin-left: 5px;
            margin-right: 5px;
        }

        .blueBackground {
            position: absolute;
            left: 8vw !important;
            top: 14vh !important;
            z-index: -1;
            width: 87vw !important;
        }

        .me-container {
            position: relative;
            display: flex;
            flex-direction: column
        }

        .name-container {
            position: absolute;
            top: unset;
            right: unset !important;
            font-size: 5vw !important;
            width: 100%;
            margin-top: 25vh;
        }

        .text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            padding-right: 0 !important;
        }

        .letsTalk-Container {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            padding-left: unset;
            bottom: 50px;

            a {
                margin-left: 15px;
            }

            .blueLine {
                position: absolute;
                left: 0;
                top: 13px;
            }

            .github-icon {
                margin-left: 0 !important;
            }
        }

        #contact-link {
            display: none !important;
        }
    }
}