.main-me-container {
    padding-top: 200px;
    margin-bottom: 50px;

    .icon-margin {
        transition: 125ms;
        transform: scale(1);
        width: 1.5vw;
    }

    .icon-margin:hover {
        transition: 125ms;
        transform: scale(1.5);
        width: 1.5vw;
    }

    .me-container {
        position: relative;
        min-width: 100vw;
        max-width: 100%;
        display: block;

        .background {
            overflow-y: hidden;
            overflow-x: hidden;
            width: 100%;
            height: 100vh;
            img {
                width: 2800px;
            }
        }
    }

    .blueBackground {
        position: absolute;
        left: 0px;
        top: 50px;
        z-index: -1;

    }

    .name-container {
        position: absolute;
        top: 10%;
        right: 50px;
        font-size: 4vw;
    }



    .name-container {
        color: white;
        flex-direction: column;
    }

    .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 50px;

        .name {
            font-weight: 700;
        }

        span {
            font-weight: 300;
            color: #4b47ff;
        }
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;

        a {
            color: white;
            border-style: none;
            background-color: aqua;
            padding: 1.5vw 3vw;
            border-radius: 1vw;
            transition: 125ms;
            font-size: 1vw;
            box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
            text-decoration: none;
        }

        a:hover {
            color: white;
            border-style: none;
            background-color: rgb(0, 17, 255);
            padding: 2vw 4vw;
            border-radius: 1vw;
            cursor: pointer;
            transition: 125ms;
        }

    }

    .spin90deg {
        rotate: -90deg;
        font-weight: 300;
    }


    .letsTalk-Container {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        padding-left: 55px;
        color: white;
        width: unset;

        a {
            margin-left: 45px;
            text-decoration: none;
            color: white;
            font-weight: 300;
        }

        .blueLine {
            position: absolute;
            left: 0;
            top: 12px;
        }

        .xing-logo {
            width: 1vw;
            transition: 125ms;
            transform: scale(1);
        }

        .xing-logo:hover {
            transition: 125ms;
            transform: scale(1.5);
        }
    }

    #contact-link {
        font-size: 1vw;
    }

    @media screen and (min-width: 701px) and (max-width:900px) {
        .icon-margin {
            transition: 125ms;
            transform: scale(1);
            width: 30px;
        }

        .xing-logo {
            width: 30px !important;
            transition: 125ms;
            transform: scale(1);
        }

        #contact-link {
            font-size: 15px;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

            a:hover {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }
        }
    }

    @media screen and (min-width: 401px) and (max-width: 700px) {

        .icon-margin {
            transition: 125ms;
            transform: scale(1);
            width: 20px;
        }

        .xing-logo {
            width: 20px !important;
            transition: 125ms;
            transform: scale(1);
        }

        .xing-logo:hover {
            transition: 125ms;
            transform: scale(1.5);
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

            a:hover {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }
        }

        #contact-link {
            display: none;
        }

        .background {
            width: 100%;
            margin-top: -30%;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position-y: 250px;
            content: url('/assets/img/bilder-probe/21.8-profile-mobile.svg');
        }

        .blueBackground {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
        }

        .me-container {
            position: relative;
            display: flex;
            flex-direction: column
        }

        .name-container {
            position: relative;
            top: unset;
            right: unset;
            font-size: 5vw;
            width: 100%;
            margin-top: -50vw;
        }

        .text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            padding-right: 0;
        }

        .letsTalk-Container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            width: 100%;
            padding-left: unset;

            a {
                display: flex;
            }

            .blueLine {
                position: absolute;
                left: 0;
                top: 13px;
            }

            .github-icon {
                margin-left: 0 !important;
            }
        }
    }

    @media screen and (min-width: 280px) and (max-width: 400px) {
        .icon-margin {
            transition: 125ms;
            transform: scale(1);
            width: 20px;
        }

        .xing-logo {
            width: 20px !important;
            transition: 125ms;
            transform: scale(1);
        }

        .xing-logo:hover {
            transition: 125ms;
            transform: scale(1.5);
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;


            a {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

            a:hover {
                color: white;
                border-style: none;
                background-color: aqua;
                padding: 1.5vw 3vw;
                border-radius: 1vw;
                transition: 125ms;
                font-size: 25px;
                box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }

        }

        .background {
            width: 100%;
            margin-top: 0;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position-y: 250px;
            content: url('/assets/img/bilder-probe/21.8-profile-mobile.svg');
        }

        .icon-margin {
            margin-left: 5px;
            margin-right: 5px;
        }

        .blueBackground {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
        }

        .me-container {
            position: relative;
            display: flex;
            flex-direction: column
        }

        .name-container {
            position: relative;
            top: unset;
            right: unset;
            font-size: 5vw;
            width: 100%;
            margin-top: -50vw;
        }

        .text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            padding-right: 0;
        }

        .letsTalk-Container {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            padding-left: unset;

            a {
                margin-left: 15px;
            }

            .blueLine {
                position: absolute;
                left: 0;
                top: 13px;
            }

            .github-icon {
                margin-left: 0 !important;
            }
        }

        #contact-link {
            display: none !important;
        }
    }
}